# Cached builds
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg
*.egg-info/

# notebooks states
.ipynb_checkpoints/

# IDE and editors
.cache/
.idea/
.project/
.tox/

# Build directories
docs/_build/
build/
dist/
# too large files
logs_from_json_to_df_2.csv
#python virtual environments
.py36/
.py27/
_creds.py
node_modules/
*_creds*

GITIGNORE-FOLDER/

.vscode/
.VSCodeCounter/
